#root {
  background-color: #f0f0f0; /* Choose a base color */
  background-image: url('assets/mtg-cardback-color.png'); /* Link to your image file */
  background-repeat: repeat;

  min-height: 100vh;
  box-sizing: border-box;
  /* Add your border style here */
  border: 10px solid black; /* Example: 10px solid coral border */
  border-radius: 5px;
}

